<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= post.body %>
  </p>

  <p>
    <string>
  </p>

  <% %W[rails_storage_proxy imgproxy_active_storage].each do |key| %>
    <% ActiveStorage.resolve_model_to_route = key  %>
    <p>
    <strong>activestorage <%= key %></strong>
      <br/>
      <%= image_tag post.image.variant(resize_to_fit: [1000, 1000]) if post.image.attached? %>
    </p>
  <% end %>

  <%# <p> %>
  <%#   <strong>imgproxy</strong> %>
  <%#   <br/> %>
  <%#   <%= image_tag post.image.imgproxy_url(width: 1000, height: 1000) if post.image.attached? %> %>
  <%# </p> %>
  <%# <p> %>
  <%#   <strong>Image (full) :</strong> %>
  <%#   <%= image_tag post.image if post.image.attached? %> %>
  <%# </p> %>
</div>
